@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.link {
    color: black;
    text-decoration: none;
}

table {
    border-top: none;
    border: 1px solid rgb(212, 212, 212);
    width: 100% !important;
    text-align: center;
}

.list:hover {
    background-color: palevioletred;
    color: white;
}

#closeSearch {
    float: right;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#main {
    min-height: 70vh;
}
h2
{
    font-size: 30px;
    color: palevioletred;
}

.vamp {

    color: palevioletred;
    text-shadow:
            0 1px 0px #378ab4,
            1px 0 0px #5dabcd,
            1px 2px 1px #378ab4,
            2px 1px 1px #5dabcd,
            2px 3px 2px #378ab4,
            3px 2px 2px #5dabcd,
            3px 4px 2px #378ab4,
            4px 3px 3px #5dabcd,
            4px 5px 3px #378ab4,
            5px 4px 2px #5dabcd,
            5px 6px 2px #378ab4,
            6px 5px 2px #5dabcd,
            6px 7px 1px #378ab4,
            7px 6px 1px #5dabcd,
            7px 8px 0px #378ab4,
            8px 7px 0px #5dabcd;}

body
{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: lavender;
    font-family: 'Lobster', cursive;

}
th
{
   font-size: 20px;
}
h1
{
    font-size: 45px;

}
main img
{
    width:40%;
}
input
{
    width: 1000px;
    border: none;
    background: none;
    border-bottom: 3px solid black;
    height: 200px;
    background-image: url("https://media.giphy.com/media/JZaulwi8C2Sys/giphy.gif");
    background-repeat: no-repeat;
    text-align: right;
    font-size: 30px;
    font-family: 'Lobster', cursive;

}
::placeholder
{
    color: black;
    font-family: 'Lobster', cursive;

}